.page {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  position: relative;
}
.page .content {
  width: 580px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  position: relative;
}
.page .content .image_father {
  position: absolute;
  top: 0;
  left: 0px;
  width: 600%;
  height: 100%;
  display: flex;
  align-items: center;
}
.page .content .image_father .image_interface {
  width: 17%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.page .content .ttt {
  transition: left 2s ease;
}
.page .content .operation_father {
  width: 100%;
  height: 10%;
  background-color: white;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.page .content .operation_father .operation {
  flex: 1;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.page .content .operation_father .left {
  margin-right: 5px;
}
.page .content .operation_father .right {
  margin-left: 5px;
}
