.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .title {
  margin-top: 200px;
  font: normal bold 50px 华文彩云;
}
.page .content {
  margin-top: 80px;
  width: 500px;
}
.page .content .input_interface {
  width: 100%;
  height: 80px;
  position: relative;
}
.page .content .input_interface .text {
  width: 100%;
  height: 80px;
  font-size: 35px;
  box-sizing: border-box;
  padding: 10px 30px;
  outline: 0;
}
.page .content .input_interface .clear {
  position: absolute;
  top: 0;
  right: -75px;
  width: 75px;
  height: 80px;
  font-size: 18px;
  cursor: pointer;
}
.page .content .information {
  width: 100%;
  box-shadow: 1px 1px  10px gray;
}
.page .content .information .card {
  border-bottom: 1px solid gray;
  font-size: 30px;
  box-sizing: border-box;
  padding: 5px 20px;
  color: darkgrey;
}
