.page {
  width: 100vw;
  height: 100vh;
}
.page .content {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.page .content .background_img {
  width: 100vw;
  height: 100vh;
  background-image: url(/static/images/图片1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(25px);
}
.page .content .log_in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1;
}
.page .content .log_in .title {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.page .content .log_in .title h3 {
  font: normal bold 25px 宋体;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
}
.page .content .log_in .title .sub_title {
  margin-top: 5px;
  text-align: center;
}
.page .content .log_in .input_interface {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.page .content .log_in .input_interface label {
  font: normal bold 25px 宋体;
  margin-bottom: 5px;
}
.page .content .log_in .input_interface .interface {
  height: 60%;
  width: 100%;
  position: relative;
}
.page .content .log_in .input_interface .interface #email {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 20px;
  outline: 0;
}
.page .content .log_in .input_interface .interface .prompt {
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
}
.page .content .log_in .input_interface .interface .prompt .iconfont {
  font-size: 35px;
}
.page .content .log_in .input_interface .interface .kkk {
  display: none;
}
.page .content .log_in .input_interface .interface #password {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 20px;
  outline: 0;
}
.page .content .log_in .but {
  margin-top: 30px;
  width: 100%;
  height: 60px;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  color: white;
}
