.body {
  position: relative;
}
.page {
  width: 600px;
  height: 500px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
}
.page .chel {
  width: 0;
  height: 0;
}
.page .box_page {
  margin: 0 auto;
  width: 50%;
  height: 80px;
  display: flex;
  font-size: 30px;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.page .box_page .che_box {
  width: 100px;
  height: 25px;
  border-radius: 25px 25px;
  position: relative;
  margin-right: 5px;
}
.page .box_page .che_box .ttt {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 25px 25px;
  transform: scale(1);
}
.page .box_page .che_box .kkk {
  animation: slideOn 0.3s linear forwards;
}
.page .box_page .che_box .bbb {
  animation: slideOff 0.3s linear forwards;
}
.page .box_page .coler_b {
  background-color: blueviolet;
}
.page .box_page .coler_w {
  background-color: aliceblue;
}
@keyframes slideOn {
  0% {
    left: 0;
    transform: scale(1);
  }
  50% {
    left: 35px;
    transform: scale(1.3);
  }
  100% {
    left: 75px;
    transform: scale(1);
  }
}
@keyframes slideOff {
  0% {
    left: 75px;
    transform: scale(1);
  }
  50% {
    left: 35px;
    transform: scale(1.3);
  }
  100% {
    left: 0;
    transform: scale(1);
  }
}
